/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***** LAYOUT *****/
/***** COLOR *****/
/***** FONTS *****/

body {
	max-width: 100%;
	margin: 0 auto;
	text-transform: uppercase;
}

ul, li {
	list-style-type: none ;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

.search, .logo, .services {
	display: inline-block;
	width: 20%;
	text-align: left;
}

.search input {
	width: 225px;
	vertical-align: middle;
	text-align: left;
}

.logo {
	width: 35%;
	text-align: center;
}

.services {
	vertical-align: middle;
}

.login-register, .shopping-cart, .wishlist {
	display: inline-block;
	font-size: 11px;
}

.login-register {
	width: 50%;
	text-align: center;
}

.shopping-cart {
	width: 20%;
	text-align: center
}

.shopping-cart span {
	float: right;
	margin-top: 5%;
	padding-top: 1%;
}

.wishlist {
	width: 15%;
	text-align: right;
}

.nav-container {
	margin-left: 12%;
}

.nav-container > li {
	display: inline-block;
	margin-right: 3%;
}

.dropdown {
	position: relative;	
}

.dropdown:hover div{
	visibility: visible;
}

.submenu {
	position: absolute;
	visibility: hidden;
	width: 750px;
	padding: 10px;
	display: inline-block;
	text-align: justify;
	background-color: white;	
}

.submenu ul{
	width: 50%;
	float: left;
}

.submenu li{
	display: inline-block;
	font-size: 12px;
	padding-right: 7%;
}

.submenu img {
	float: right;
}

main p {
	text-align: center;
	padding: 3%;
}

.showcase {
	width: 100%;
	text-align: center;
}

.showcase-content li {
	display: inline-block;
	padding: 1%;
	margin: .5%;
	margin-right: auto;
}

footer {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

.member-service, .customer-service, .company-information, .social {
	vertical-align: top;
	display: inline-block;
	width: 20%;
	margin-left: 2%;
}

.footer h2 {
	width: 80%;
	margin-left: 15%;
	font-size: 16px;
}

footer input {
	margin-left: 15%;
}

.page-info {
	clear: both;
}